._38EDJ>img {
    height: auto;
    max-width: 234%;
}
input[type="number"] {
    width: 100%;
}
.sideLeft {
    float: left;
    width: 60%;
}
.rightside {
    width: 400px;
    float: right;
    background: rgba(84,84,84,0.05);
    height: 230px;
    margin-top:48px;
}
#cart-total{
    background: none;
}
span.cart_count {
    display: inline-block;
}