.checkout {
  width: 60%;
  margin: 20px auto 0 auto;
}

.checkout h2 {
  text-align: center;
  font-size: 4em;
  color: #cccccc;
}
.checkout p {
  font-size: 2em;
  text-align: center;
  color: #cccccc;
}
.si_btn {
  float: right;
}
