span.cart_counter {
  font-weight: bold;
  position: absolute;
  top: 6px;
  /* right: 0px; */
}
span.cart_favourite {
  font-weight: bold;
  position: absolute;
  top: -22px;
  right: -3px;
}
.cart_Wrapper {
  width: 80%;
  margin: 20px auto 0 auto;
}
nav._1LRT1 img {
  height: 24px;
}
a.fav_link {
  margin-right: 10px;
  position: relative;
}
