#main {
    margin: 10px auto 0 auto;
    max-width:100%;
    height: 800px;
   
}
#main div {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}
img.back_img {
   
    position: absolute;
    top: 6px;
    left: 10px;
}
a.back_link{
    display: inline-block;
    position: relative;
    padding: 10px 12px 10px 29px;
    margin:5px 0 10px 0;
    background-color: #ccc;
    color: Black;
}
a.back_link:hover{
    background: #eee radial-gradient(circle, transparent 1%, #eee 1%) center/15000%;
    color: black;
}
a.back_link:active{
    /* background: #ccc; */
    color: black;
    background-color: #eee;
    background-size: 100%;
    transition: background 0s;
}

div.btns button{
    font-size: 20px;
}