.list_item{
    width:300px;   
    float: left;
    list-style: none;
    margin: 0 20px 20px 0;
}
._3FeT6 [data-react-toolbox=button]:last-child {

    margin-left: 200px;
}
.disable_add{
    display: none !important;
}
._1W3zs._1MtcX {
    padding: 10px 16px 0px !important;
}
h5._1-IlV {
    color: #000;
}
h5._1-IlV:hover{
    color: #303f9f;
}
a:-webkit-any-link {
    text-decoration: none;
}
.filter {
    float: left;
    width: 115px;
    margin-left: 3%;
}
.divider { 
    height: 1px; 
    overflow: hidden; 
    padding-bottom: 10px;
  } 
.chk_btn{
    margin: 18px 0 0 83px;
}